set mailserver localhost

set daemon {{ monit_poll_cycle_length }}

{% for monit_alert in monit_email_alerts %}
set alert {{ monit_alert }}
{% endfor %}

{% for mm_host in monit_mmonit_hosts %}
set mmonit http://{{ mm_host.admin }}:{{ mm_host.admin_password }}@{{ mm_host.name }}:{{ mm_host.port }}/collector
{% endfor %}

{% if monit_port is defined %}
set httpd port {{ monit_port }}
{% else %}
set httpd unixsocket {{ monit_dir_base }}/{{ monit_name }}/var/monit_sock
{% endif %}
    allow localhost
{% for mm_host in monit_mmonit_hosts %}
    allow {{ mm_host.name }}
{% endfor %}
    allow {{ ansible_ssh_user }}:{{ ansible_ssh_user }}
    allow @monit
    allow @users readonly
    allow @psadm
    allow @si
    allow @OP


{% if monit_use_syslog %}
set logfile syslog
{% else %}
set logfile {{ monit_dir_base }}/{{ monit_name }}/var/monit.log
{% endif %}

set idfile {{ monit_dir_base }}/{{ monit_name }}/var/.monit.id
set pidfile {{ monit_dir_base }}/{{ monit_name }}/var/monit.pid
set statefile {{ monit_dir_base }}/{{ monit_name }}/var/.monit.state
set eventqueue basedir {{ monit_dir_base }}/{{ monit_name }}/var/monit slots 1000
