check process monit-{{ monit_instance_name }}
  with pidfile "/local/monit/{{ monit_instance_directory }}/monit.pid"
  start program = "/usr/bin/monit -c /opt/monit/{{ monit_instance_directory }}/monitrc" as uid "{{ monit_instance_user }}" and gid "{{ monit_instance_group }}"
  stop program = "/bin/bash -c '/bin/kill $( cat /opt/monit/{{ monit_instance_directory }}/monit.pid )'" as uid "{{ monit_instance_user }}" and gid "{{ monit_instance_group }}"
  group monit_{{ monit_instance_name }}
