# Processes
include {{ monit_dir_base }}/{{ monit_name }}/*.process.monitrc

# Other checks
include {{ monit_dir_base }}/{{ monit_name }}/*.checks.monitrc

# Common base configuration
include {{ monit_dir_base }}/{{ monit_name }}/basemrc
